/vendor/
node_modules/
/public/build/
.env
.phpunit.result.cache
storage/*.key
/database/*.sqlite
/bootstrap/cache/*.php
/storage/app/*
!/storage/app/public
!/storage/app/photos
/storage/app/public/*
/storage/app/photos/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/*/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/public/storage
/tests/Feature/.gitkeep
/tests/Unit/.gitkeep
